.textfont {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.pagetitle {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.sub-title {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraph-title {
  margin-left: 180px;
  margin-right: 180px;
}

.maldivesImg {
  max-width: 500px;
}

.conatiner {
  margin-bottom: 100px;
}
